
@import "../../.cache/wal/colors-waybar.css"; 

@define-color accent shade(alpha(@accent_color, 0.9), 1.25);
@define-color background shade(alpha(@theme_bg_color, 0.9), 0.9);
@define-color border alpha(@color11, 0.3);
@define-color text @theme_fg_color;
@define-color hover shade(alpha(@accent_bg_color, 0.5), 1.25);

window {
    font-family: "JetBrainsMono Nerd Font", "JetBrainsMono";
    font-size: 12px;
    border: 2px solid @border;
    border-bottom: none;
    border-radius: 10px 10px 0px 0px;
    background-color: @background;
    color: @text;
}

entry {
    margin-top: 10px;
    background-color: rgba (0, 0, 0, 0.2)
}

button {
    background: alpha(@accent, 0.1);
    color: @text;
    border: @border;
}

button:hover {
    color: @hover;
}

#category-button {
    margin: 0 10px 0 10px
}

#pinned-box {
    padding-bottom: 5px;
    border-bottom: 1px dotted @hover
}

#files-box {
    padding: 5px;
    border: 1px dotted @hover;
    border-radius: 15px
}

/* math operation result label */
#math-label {
    background: alpha(@accent, 0.2);
    color: @text;
    border: @border;
    font-weight: bold;
    font-size: 18px
}
