/* 
  ================================================================
  => Waybar theme: Dark
  => By:  Saifullah Balghari
  ================================================================
*/

/* 
  ================================================================
  => Colors
  ================================================================
*/
@import "../../../../.cache/wal/colors-waybar.css";
@import "./colors.css";

/* 
  ================================================================
  => General
  ================================================================
*/
* {
  padding: 0px;
  font-family: "JetBrainsMono Nerd Font", "Hack Nerd Font";
  font-weight: bold;
  font-size: 12px;
  min-height: 15px;
  background: transparent;
}

/* 
  ================================================================
  => Tooltip
  ================================================================
*/
tooltip {
  border-radius: 5px;
  background-color: alpha(@base, 0.7);
  padding: 20px;
  margin: 0px;
}
tooltip label {
  color: @text;
}

/* 
  ================================================================
  => Main layout Style
  ================================================================
*/
#custom-apps,
#taskbar,
#custom-settings,
#custom-sysinfo,
#custom-tools,
#window,
#custom-mediaplayer,
#workspaces,
#custom-extra,
#custom-updates,
#backlight,
#battery,
#pulseaudio,
#network,
#tray,
#clock,
#custom-notifications,
#custom-exit {
  margin: 2px 4px;
  padding: 2px 8px 2px 8px;
  background: alpha(@base, 0.83);
  border: 1px solid alpha(@color11, 0.63);
  border-radius: 5px;
}

/* 
  ================================================================
  => Setting Colors
  ================================================================
*/
#custom-mediaplayer,
#network {
  color: @mauve;
}
#backlight {
  color: @yellow;
}
#pulseaudio {
  color: @blue;
}
#window,
#battery {
  color: @green;
}
#cpu,
#memory,
#custom-settings,
#temperature,
#disk,
#custom-clipboard,
#custom-screenshot,
#custom-colorpicker,
#custom-wallpapers,
#custom-notifications,
#custom-sysinfo,
#custom-tools,
#custom-extra,
#custom-hyprshade,
#custom-hypridle,
#custom-dot,
#language,
#idle_inhibitor,
#custom-apps,
#clock,
#custom-exit {
  color: @text;
}

/* 
  ================================================================
  => App Launcher
  ================================================================
*/
#custom-apps {
  margin-left: 0px;
  /* margin-right: 0px; */
}

/* 
  ================================================================
  => Taskbar
  ================================================================
*/
#taskbar {
  padding-left: 5px;
  font-weight: normal;
  font-style: normal;
  padding-right: 5px;
}
#taskbar button {
  padding-left: 3px;
  padding-right: 3px;
}
#taskbar button.active {
  background-color: alpha(@color11, 0.4);
}

/* 
  ================================================================
  => Settings shortcut
  ================================================================
*/
#custom-settings {
  font-size: 15px;
  padding-left: 6px;
  padding-right: 3px;
  font-weight: bolder;
  background: transparent;
  border: 0px;
}

/* 
  ================================================================
  => System info drawer
  ================================================================
*/
#custom-sysinfo {
  font-size: 15px;
  padding-left: 6px;
  padding-right: 3px;
  font-weight: bolder;
  background: transparent;
  border: 0px;
}
#cpu,
#memory,
#temperature,
#disk {
  padding: 0px 10px 0px 10px;
}

/* 
  ================================================================
  => Tools drawer
  ================================================================
*/
#custom-tools {
  font-size: 15px;
  padding-left: 3px;
  padding-right: 4px;
  font-weight: bolder;
  background: transparent;
  border: 0px;
}
#custom-clipboard,
#custom-colorpicker,
#custom-screenshot,
#custom-wallpapers {
  padding: 0px 14px 0px 10px;
}

/* 
  ================================================================
  => Workspaces
  ================================================================
*/
#workspaces {
  padding: 0px;
  background-color: alpha(@color11, 0.73);
  border-radius: 5px;
}
#workspaces button {
  box-shadow: none;
  text-shadow: none;
  margin: 2px 3px;
  border-radius: 3px;
  background-color: transparent;
  color: @crust;
  transition: all 0.1s linear;
}
#workspaces button.active {
  background: alpha(@base, 0.63);
  color: @text;
  min-width: 30px;
  transition: all 0.1s linear;
}
#workspaces button:hover {
  background: alpha(@base, 0.4);
}
#workspaces button.urgent {
  background-color: @red;
}

/* 
  ================================================================
  => Extras drawer
  ================================================================
*/
#custom-extra {
  font-size: 15px;
  padding-left: 5px;
  padding-right: 10px;
  margin: 2px 0px;
  font-weight: bolder;
  background: transparent;
  border: 0px;
}
#custom-hypridle,
#custom-hyprshade,
#language,
#idle_inhibitor {
  padding: 0px 10px 0px 10px;
}
#custom-hypridle.active {
  color: @red;
}
#custom-hypridle.notactive {
  color: @text;
}

/* 
  ================================================================
  => Updates
  ================================================================
*/
#custom-updates {
  margin-right: 10px;
  margin-left: 0px;
}
#custom-updates.green {
  color: @text;
}
#custom-updates.yellow {
  color: @yellow;
}
#custom-updates.red {
  color: @red;
}

/* 
  ================================================================
  => Battery
  ================================================================
*/
#battery.charging,
#battery.plugged {
  color: #3fe268;
}
@keyframes blink {
  to {
    color: @base;
    background-color: @red;
  }
}
#battery.critical:not(.charging) {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

/* 
  ================================================================
  => Tray
  ================================================================
*/
#tray {
  padding: 0px 5px 0px 5px;
}
#tray > .passive {
  -gtk-icon-effect: dim;
}
#tray > .needs-attention {
  -gtk-icon-effect: highlight;
}
#tray menu {
  border-radius: 5px;
  background-color: alpha(@base, 0.7);
  padding: 20px;
  margin: 0px;
}

/* 
  ================================================================
  => Exit Menu
  ================================================================
*/
#custom-exit {
  margin-left: 2px;
  margin-right: 0px;
  padding-right: 10px;
}

/* 
  ================================================================
  => Border Radius
  ================================================================
*/
#clock,
#backlight {
  border-radius: 5px 0px 0px 5px;
  margin-right: 0px;
}
#battery,
#custom-notifications {
  border-radius: 0px;
  margin: 2px -1px;
}
#pulseaudio {
  border-radius: 0px;
  margin-left: 0px;
  margin-right: -1px;
}
#custom-exit,
#network {
  margin-left: 0px;
  border-radius: 0px 5px 5px 0px;
}

/* 
  ================================================================
  => Hide empty modules
  ================================================================
*/
window#waybar.empty #window,
#custom-updates.none,
#taskbar.empty,
#tray.empty,
#custom-mediaplayer.empty {
  border: 0px;
  background-color: transparent;
  padding: 0px;
  margin: 0px;
}

/* 
  ================================================================
  => Separators
  ================================================================
*/
#custom-separator-right,
#custom-separator-left {
  font-weight: bold;
  padding-top: 0px;
  color: @color11;
  font-size: 15px;
}
/* 
  ================================================================
  => Others
  ================================================================
*/
#custom-dot {
  padding: 0px 6px 0px 0px;
  margin: 2px 4px;
}
